body{
    
    background: url("http://anlscape.com.au/images/products/small/qsys-sydney-sand.jpg?Action=thumbnail&Width=285&Height=285&algorithm=fill") no-repeat;
    background-size: cover ;
    background-attachment: fixed;

    
}
