@import "variables";
@import "mixins";
@import "navbar";
@import "portfolio";
@import "masterhead";
@import "global";
@import "contact";

footer {
    background: $Blueish;
    color: whitesmoke;
    text-align: center;
    p {
        padding: 0;
        margin: 0;
    }
    article {
        margin-top: 5%;
    }
}


